.main{
    padding-left:500px;
    border-style: dotted;
    background-color: burlywood;
}
.image{
    padding-left: 120px;
}
.im{
    padding-left: 120px;
}
.heading{
    padding-left:170px;
}
.mainhead{
    padding-left: 100px;
}
.head{
    padding-left:160px;
}
.table{
    font-size:x-large;
}
.tab{
    font-size:x-large;
}

